main {
    margin-top: 100px;
}

body {
    padding-top: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    margin: 30px 0 70px;
}

.headline {
    font-family: "Popins", sans-serif;
    margin: 30px 0 30px 0;
}

#newsImgFrame {
    display: flex;
    justify-content: center;
}

#news-img {
    width: 100%;
    max-width: fit-content;
    height: auto;
    margin: 0 15px;
}

/* styling cards for rooms page */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.error {
    color: red;
    font-size: small;
}

/* get rid of the white space above the carousel */
#carouselHomepage {
    margin-top: -35px;
}

/*make data form float left*/
.data-form {
    float: left;
}

#vr {
    color: white;
    background-color: white;
}

.vl {
    border-left: 1px solid white;
    height:25px;
  }

/*adding a background image to the home-jumbotron*/
/* #jumbotron-home {
    background-image: url("../img/hotel-1.jpg");
    background-size: cover;
} */



/* START styling of navbar */
.navbar {
    background-color: #1a5276;
}

#logo-nav {
    max-height: 50px;
}

.navbar a {
    color: white;
}

/*make burger menu white*/
.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbar-dropdown-menu {
    background-color: #1a5276;
    right: 0
}

.navbar-nav a:hover {
    color: rgb(230, 228, 228);
}

.navbar-nav .nav-link-yellow {
    margin-left: 20px;
    background-color: #ffcc00;
    color: #143e58;
    border-radius: 3px;
}

.navbar-nav .nav-link-yellow:hover {
    background-color: #ffd940;
    color: #143e58;
}

.navbar-nav a:focus {
    color: rgb(230, 228, 228);
}

.dropdown-menu a:hover {
    color: #143e58;
}

/*slogan*/
/*Bug: Google Font is not responsive*/
.lead-slogan {
    color: #fff;
    font-size: 4em;
    margin-bottom: 50px;
    font-family: "Passions Conflict", sans-serif;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-text {
    color: white;
}

/* END styling of navbar */



/* START styling of buttons */


.btn-grey {
    color: black;
    background-color: #bfcad1;
}

.btn-grey:hover {
    background-color: #d2dde4;
}

.btn-yellow {
    color: #143e58;
    background-color: #ffcc00;
}

.btn-yellow:hover {
    color: #143e58;
    background-color: #ffd940;
}

.btn-red {
    color: white;
    background-color: #D42A04;
}

.btn-red:hover {
    color: white;
    background-color: #a52104;
}

.btn-blue {
    color: white;
    background-color: #1a5276;
}

.btn-blue:hover {
    color: white;
    background-color: #143e58;
}

/* END styling of buttons */



/* START styling of footer */

footer {
    background: #515455;
    color: #fff;
    font-size: 14px;
    margin-top: auto;
    display: block;
}

.mt-auto {
    margin-top: auto;
}

footer .footer-top {
    background: #1a5276;
    padding: 50px 0px 20px;
}

footer h4 {
    font-size: 18px;
    padding-bottom: 12px;
}

footer .address p {
    font-size: 16px;
    font-style: italic;
}

footer .address a {
    font-size: 16px;
    font-style: italic;
    color: white;
}

footer .footer-menus {
    margin-bottom: 30px;
}

footer .footer-menus ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .footer-menus ul li {
    margin-bottom: 10px;
}

footer .footer-menus ul i {
    color: #ffffff;
    font-size: 12px;
    margin-right: 3px;
}

footer .footer-menus ul a {
    color: #fff;
    text-decoration: none;
}

footer .footer-menus ul a:hover {
    background: #1a5276;
    color: rgb(230, 228, 228);
}

footer .newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #3a3a3a;
}

footer .newsletter form input[type="email"] {
    border: 0;
    padding: 5px;
    background: #fff;
    color: #3a3a3a;
}

footer .newsletter form input[type="email"]:focus {
    outline: none;
}

footer .newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    font-size: 16px;
    background: #515455;
    color: #fff;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

footer .newsletter form input[type="submit"]:hover {
    background: #7b7f82;
}

footer .social-links a {
    font-size: 17px;
    display: inline-block;
    background: #1a5276;
    color: #fff;
    line-height: 1;
    padding: 9px 0;
    margin-right: 5px;
    border-radius: 100%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.4s;
}

.footer-bottom {
    padding: 10px 0px 5px;
}

footer .footer-bottom a {
    color: #fff;
    text-decoration: none;
}

/* END styling of footer */



/* START styling of faq */

.faq-section {
    width: 100%;
    height: 100vh;
    background-color: #3c4053;
    display: flex;
}

.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* create accordion for faq - hidden information to be shown by a click on it */
.accordion-item {
    background-color: #283042;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
}

.accordion-link {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, .9);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link:hover {
    color: #6097c4;
}

/* .accordion-link {
display: none;
} */

.remove-outline {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    color: rgba(255, 255, 255, .8);
    transition: max-height 650ms;
}

.answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #6097c4;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p {
    font-size: 1rem;
    color: rgba(255, 255, 255, .8);
    padding: 1rem 2rem;
}

.accordion-item:target .answer {
    max-height: 20rem;
}

.accordion-item:target .accordion-link .add-outline {
    display: none;
}

.accordion-item:target .accordion-link .remove-outline {
    display: block;
}

/* END styling of faq */



/* START styling of booking form */

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

/* END styling of booking form */



/* START styling of table */


table,
table-responsive {
    margin: 0 auto;
    border-collapse: collapse;
    vertical-align: middle;
}

th,
td {
    border: 1px solid grey;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
}

td .btn {
    font-size: 14px;
}

thead {
    background-color: darkgray;
    color: white;
    text-align: center;
}

.cell-highlight {
    background-color: goldenrod;
    font-weight: bold;
}

/* END styling of table */