main {
    margin-top: 100px;
}

/*
h1 {
    padding-right: 22rem;
}
*/

p {
    padding-right: 4rem;
}

.content {
    margin-top: 30px;
}

body {
    padding-top: 70px;
}

/* styling of navbar */

.navbar {
    background-color: #1a5276;
    color: white;

    /*to remove space between navbar and jumbotron*/
    /* margin-bottom: 0; */
    /*to remove rounded corners at navbar*/
    /* border-radius: 0; */
}

#logo-nav {
    max-height: 70px;
}

.navbar a {
    color: white;
}

/*make burger menu white*/
.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbar-dropdown-menu {
    color: white;
    background-color: #1a5276;
    right: 0
}

.navbar-nav dropdown-item {
    color: white;
    background-color: #1a5276;
}

.navbar-nav a:hover {
    color: lightgrey;
}

.navbar-nav dropdown a:active {
    color: lightgrey;
}

.navbar-nav dropdown a:visted {
    color: lightgrey;
}

/*slogan*/
/*Bug: Google Font is not responsive*/
.lead-slogan {
    color: #fff;
    font-size: 4em;
    margin-bottom: 50px;
    font-family: "Passions Conflict", sans-serif;
}

/*adding a background image to the home-jumbotron*/
/* #jumbotron-home {
    background-image: url("../img/hotel-1.jpg");
    background-size: cover;
} */

/*damit Eingabe-Formulare linksbündig sind*/
.data-form {
    float: left;
}

.btn {
    color: white;
    background-color: #677279;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

footer {
    background: #677279;
    color: #fff;
    font-size: 14px;
    margin-top: 50px;
    display: block;
}

.mt-auto {
    margin-top: auto;
}

footer .footer-top {
    background: #1a5276;
    padding: 50px 0px 20px;
}

footer h4 {
    font-size: 18px;
    padding-bottom: 12px;
}

footer .address p {
    font-size: 16px;
    font-style: italic;
}

footer .address a {
    font-size: 16px;
    font-style: italic;
    color: white;
}

footer .footer-menus {
    margin-bottom: 30px;
}

footer .footer-menus ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .footer-menus ul li {
    margin-bottom: 10px;
}

footer .footer-menus ul i {
    color: #ffffff;
    font-size: 12px;
    margin-right: 3px;
}

footer .footer-menus ul a {
    color: #fff;
    text-decoration: none;
}

footer .footer-menus ul a:hover {
    background: #1a5276;
    color: black;
}

footer .newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #3a3a3a;
}

footer .newsletter form input[type="email"] {
    border: 0;
    padding: 5px;
    background: #fff;
    color: #3a3a3a;
}

footer .newsletter form input[type="email"]:focus {
    outline: none;
}

footer .newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    font-size: 16px;
    background: #7b7f82;
    color: #fff;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

footer .newsletter form input[type="submit"]:hover {
    background: #7e8689;
}

footer .social-links a {
    font-size: 17px;
    display: inline-block;
    background: #1a5276;
    color: #fff;
    line-height: 1;
    padding: 9px 0;
    margin-right: 5px;
    border-radius: 100%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.4s;
}

.footer-bottom {
    padding: 10px 0px 5px;
}

footer .footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.headline {
    font-family: "Popins", sans-serif;
    margin: 30px 0 30px 0;
}


/*section used for centering*/
section {
    text-align: center;
}

.faq-section {
    width: 100%;
    height: 100vh;
    background-color: #3c4053;
    display: flex;
}

.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}



/* create accordion for faq - hidden information to be shown by a click on it */

.accordion-item {
    background-color: #283042;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
}

.accordion-link {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link:hover {
    color: #6097c4;
}


/* .accordion-link {
display: none;
} */

.remove-outline {
    display: none;
}


.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    color: rgba(255, 255, 255, .6);
    transition: max-height 650ms;
}

.answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #6097c4;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}

.answer p {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, .6);
    padding: 2rem;

}

.accordion-item:target .answer {
    max-height: 20rem;

}

.accordion-item:target .accordion-link .add-outline {
    display: none;
}

.accordion-item:target .accordion-link .remove-outline {
    display: block;
}

.news-img {
    /*height full box size*/
    height: 100%;
    width: auto;
}

.error {
    color: red;
    font-size: small;
}